
/* HTML1: INICIO */
//------------------------------------------------------------------------------------------------------------------------------------------------------------------
.cajaconlogo{
    background-color: white;
    height: 450px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    img{
        height: 330px;
        width: 340px; 
        object-fit: cover;
    }
}
//------------------------------------------------------------------------------------------------------------------------------------------------------------------
.hero{
    border: 1px solid black;
    border-left-style: none;
    border-right-style: none;
    background-color: $main-yellow;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding: 10px 0px;
    h1{
        font-family: $main-font;
        font-size: 30px;
        font-style: italic;
        padding: 15px 0px 10px 0px;
    }
    p{
        font-family: 'Lora', serif;
        font-size: 18px;
        font-style: italic;
        width: 40%;
    }
    img{
        border: 2px dashed rgb(252, 84, 4);
        height: 375px;
        width: 95%;
        object-fit: cover;
        padding: 10px;
    }
}
//------------------------------------------------------------------------------------------------------------------------------------------------------------------
.hero2{
    background-color: $main-yellow;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
        height: 800px;
        width: 100%;
        object-fit: cover;
        border-bottom: 1px solid black;
    }
}
//------------------------------------------------------------------------------------------------------------------------------------------------------------------
