@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Lora&family=Sigmar&display=swap');
/*
font-family: 'Cookie', cursive;
font-family: 'Lora', serif;
font-family: 'Sigmar', cursive;
*/
//------------------------------------------------------------------------------------------------------------------------------------------------------------------
*{
    margin: 0;
    padding: 0;
}
//------------------------------------------------------------------------------------------------------------------------------------------------------------------