$main-yellow: rgb(243, 202, 22);
$secondary-yellow: rgba(243, 203, 22, 0.685);
$secondary-yellow-border: rgb(255, 166, 0);
$main-orange: rgba(252, 83, 4, 0.411);
$main-orange-border: rgb(255, 72, 0);

$main-font: 'Sigmar', cursive;