$main-yellow: rgb(243, 202, 22);
$secondary-yellow: rgba(243, 221, 22, 0.5);
$main-orange: rgba(252, 83, 4, 0.411);
$main-orange-border: rgb(255, 72, 0);
$sucursales-orange: rgba(252, 83, 4, 0.377);
$light: blanchedalmond;
$dark: rgb(253, 93, 0);
$main-font: 'Sigmar', cursive;